<footer class="text-sm text-center pt-4 border-t-2 border-brand space-y-1">
  <div>
    {% block footer %}
      {% if config.extra.footer %}
        {{ config.extra.footer }}
      {% endif %}
    {% endblock %}
  </div>
  <div>
    Crafted with
    <a href="https://www.getzola.org/" target="_blank" class="font-medium">
      Zola
    </a>
    and
    <a
      href="https://github.com/ssiyad/block"
      target="_blank"
      class="font-medium"
    >
      Block
    </a>
    .
  </div>
</footer>
