{% extends "base_layout.html" %}

{% block main %}
  <div class="space-y-4">
    <div class="flex items-center gap-4">
      <img
        src="{{ config.extra.intro.avatar_url }}"
        class="size-20 rounded-xl"
      />
      <div class="space-y-1">
        <p class="font-medium text-white">{{ config.extra.intro.heading }}</p>
        <p class="font-medium text-sm">
          {% block subheading %}
            {{ config.extra.intro.subheading }}
          {% endblock %}
        </p>
      </div>
    </div>
    <div class="post">{{ section.content | safe }}</div>
    <nav
      class="flex items-center gap-4 mb-4"
      style="flex-wrap: wrap;"
      aria-label="Main pages"
    >
      {% for nav_item in config.extra.nav %}
        <a
          class="font-medium hover:underline underline-offset-4"
          href="{{ nav_item.url | safe }}"
        >
          {{ nav_item.title }}
        </a>
      {% endfor %}
    </nav>
  </div>
{% endblock %}
